.mypage_bar
  %ul
    %li
      = link_to "問題一覧", questions_path, class: "mypage_bar__menu mypage_bar__menu-select"
    %li
      = link_to "問題作成", "#", class: "mypage_bar__menu"
    %li
      = link_to "ユーザー編集", "#", class: "mypage_bar__menu"