.mypage_bar
  %ul
    %li
      = link_to "問題一覧", questions_path, class: "mypage_bar__menu"
    %li
      = link_to "問題作成", new_question_path, class: "mypage_bar__menu"
    %li
      = link_to "ユーザー編集", edit_user_registration_path, class: "mypage_bar__menu"
    %li
      = link_to "TOPへ戻る", root_path, class: "mypage_bar__menu"