.dropdown
  %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    並び替える
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
    %li
      %button.dropdown-item{:value => "問題番号順"} 問題番号順
    %li
      %button.dropdown-item{:value => "正解率が低い順"} 正解率が低い順
    %li
      %button.dropdown-item{:value => "解答数が少ない順"} 解答数が少ない順