= render 'layouts/header'
#top_container
  = image_tag 'logo.png', class: "top_logo"
  = link_to "START!", test_questions_path , class:"btn start_btn"

  %svg{:version => "1.1", :xmlns => "http://www.w3.org/2000/svg", class: "top_wave"}
    %path#wave{:d => ""}