.mypage_container{
  width: 100vw;
  min-height: calc(100vh - 50px);
  margin-top: 50px;
  display: flex;
  .mypage_bar{
    width: 15%;
    min-height: calc(100vh - 50px);
    background: rgb(117, 151, 182);
    position: fixed;
    z-index: 1;
    &__menu{
      display: block;
      width: 100%;
      height: 70px;
      text-decoration: none;
      line-height: 70px;
      text-align: center;
      color: white;
      &:hover{
        background: rgb(89, 125, 158);
      }
      &-select{
        background: rgb(89, 125, 158);
      }
    }
  }
  .mypage_slide{
    display: none;
    width: 20px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    padding-left:0 5px;
    background: rgb(117, 151, 182);
    opacity: 0.9;
    color: white;
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 1;
    border-radius: 0 5px 5px 0;
  }
  .mypage_content{
    margin-left: 15%;
    width: 85%;
    min-height: calc(100vh - 50px);
    color: $gray;
    &__header{
      width: 100%;
      height: 200px;
      padding: 20px;
      color: $gray;
      h1{
        font-size: 40px;
      }
      &__score{
        width: 100%;
        display: flex;
        .score{
          width: 50%;
          p{
            font-size: 20px;
            display: inline-block;
            height: 40px;
          }
          h2{
            font-size: 40px;
            display: inline-block;
          }
        }
      }// background: rgba(255, 0, 0, 0.349);
    }
    &__bottom{
      &__tabs{
        width: 100%;
        height: 50px;
        display:flex;
        justify-content: space-between;
        .mypage_tab{
          height: 100%;
          width: 100%;
          background: rgb(255, 0, 0);
          opacity: 0.6;
          text-align: center;
          color: white;
          line-height: 50px;
          text-decoration: none;
          cursor: pointer;
          &:hover{
            opacity: 0.8;
          }
        }
        .mypage_tab-select{
          opacity: 0.8;
        }
      }
      .dropdown{
        margin-bottom: 20px;
        color: $gray;
        margin-right: 50px;
        button{
          float: right;
          color: $gray;
        }
        &:after{
          content: "";
          display: block;
          clear: both;
        }
      }
      &__boxes{
        width: 100%;
        min-height: calc(100vh - 300px);
        background: rgba(255, 0, 0, 0.349);
        padding: 30px 0 50px;
        .mypage__box{
          width: 80%;
          background: white;
          margin: 0 auto 50px;
          border-radius: 5px;
          .mypage_question{
            font-size: 18px;
            line-height: 30px;
            border-bottom: 1px solid $light-gray;
            display: flex;
            &__num{
              width: 5%;
              border-right: 1px solid $light-gray;
              text-align: center;
            }
            &__q{
              width: 80%;
              padding-left: 5px;
              border-right: 1px solid $light-gray;
              display:flex;
              justify-content: space-between;
              &__content{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
              a{
                display: block;
                height: 30px;
                font-size: 20px;
                line-height: 30px;
                margin: 0 10px;
                opacity: 0.9;
                &:hover{
                  opacity: 1;
                }
              }
            }
            &__accuracy{
              width: 8%;
              border-right: 1px solid $light-gray;
              text-align: center;
            }
            &__sum{
              width: 7%;
              text-align: center;
            }
          }
          .index{
            background: $gray;
            color: white;
            border-radius: 5px 5px 0 0;
          }
          .yet_index{
            background:$light-gray;
            color: white;
            padding-left: 5%;
          }
        }
        .user{
          display: none;
        }
      }
    }
  }
}