@media screen and (max-width: 1000px){
  .login_form{
    width: 80%;
  }

  .test_container{
    padding-top: 100px;
    .question_box{
      width: 90%;
      margin: 0 auto;
      &__q{
        padding: 10px;
        min-height: 200px;
        &__header{
          height: 60px;
          p{
            line-height: 60px;
            font-size: 35px;
          }
        }
        &__content{
          font-size: 20px;
          padding: 5px;
        }
      }
      &__a{
        padding: 10px;
        &__menu{
          padding: 0;
          font-size: 15px;
        }
        &__content{
          padding: 5px;
          font-size: 15px;
          .result_box{
            width: 80%;
            display: flex;
            justify-content: space-between;
            .correct_btn{
              height: 50px;
              width: 40%;
              font-size: 30px;
              line-height: 50px;
              margin: 0;
            }
          }
          .next_btn{
            width: 80%;
            font-size: 20px;
            margin: 30px auto;
          }
        }
      }
    }
  }
  .mypage_container{
    .mypage_bar{
      width: 150px;
      opacity: 0.9;
      font-size: 15px;
      left: -150px;
      &__menu{
        height: 40px;
        line-height: 40px;
      }
    }
    .mypage_slide{
      display: block;
      .fa-chevron-left{
        display: none;
      }
    }
    .mypage_content{
      margin: 0;
      width: 100%;
      &__header{
        height: 110px;
        h1{
          font-size: 20px;
          margin-bottom: 20px;
        }
        .score{
          width:40%;
          p{
            font-size: 10px;
            height: 10px;
          }
          h2{
            font-size: 20px;
            display: inline-block;
          }
        }
        .books{
          width:80px;
          right: 10px;
        }
      }
      &__bottom{
        &__tabs{
          height: 40px;
          .mypage_tab{
            font-size: 13px;
            line-height: 40px;
          }
        }
        .dropdown{
          margin-bottom: 5px;
          margin-right: 5px;
          button{
            float: right;
            color: $gray;
            font-size: 15px;
          }
          &:after{
            content: "";
            display: block;
            clear: both;
          }
        }
        &__boxes{
          .mypage__box{
            width: 90%;
            .mypage_question{
              font-size: 13px;
              line-height: 30px;
              &__num{
                width: 10%;
              }
              &__q{
                width: 60%;
                font-size: 12px;
              }
              &__accuracy{
                width: 15%;
              }
              &__sum{
                width: 15%;
              }
            }
          }
        }
      }
    }
  }
  .show_container{
    padding-top: 50px;
    .question_box{
      width: 90%;
      margin: 20px auto;
      &__q{
        padding: 10px;
        min-height: 100px;
        &__header{
          height: 60px;
          p{
            line-height: 60px;
            font-size: 35px;
          }
        }
        &__content{
          font-size: 15px;
          padding: 5px;
        }
      }
      &__a{
        padding: 10px;
        &__menu{
          padding: 0;
          font-size: 15px;
        }
        &__content{
          padding: 5px;
          font-size: 15px;
          .edit_question_btn{
            display: block;
            width: 80px;
            height: 20px;
            background: rgb(128, 138, 134);
            border-radius: 0.3em;
            color: white;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            box-shadow: 0px 5px 10px $shadow;
            outline: none;
            &:active{
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
