@media screen and (max-width: 1000px){
  .login_form{
    width: 80%;
  }
  //テストページ
  .test_container{
    padding-top: 100px;
    .question_box{
      width: 90%;
      margin: 0 auto;
      &__q{
        padding: 10px;
        min-height: 200px;
        &__header{
          height: 60px;
          p{
            line-height: 60px;
            font-size: 35px;
          }
        }
        &__content{
          font-size: 20px;
          padding: 5px;
        }
        .yn_answer{
          width: 80%;
          display: flex;
          justify-content: space-between;
          &__btn{
            height: 80px;
            width: 40%;
            font-size: 30px;
            line-height: 80px;
            margin: 0;
            &:hover{
              font-size: 50px;
            }
          }
        }
        .select_answer{
          &__choice{
            margin: 10px auto;
          }
        }
      }
      &__a{
        padding: 10px;
        &__menu{
          padding: 0;
          font-size: 15px;
        }
        &__content{
          padding: 5px;
          font-size: 15px;
          .result_box{
            width: 80%;
            display: flex;
            justify-content: space-between;
            .correct_btn{
              height: 50px;
              width: 40%;
              font-size: 30px;
              line-height: 50px;
              margin: 0;
            }
          }
          .next_btn{
            width: 80%;
            font-size: 20px;
            margin: 30px auto;
          }
        }
      }
    }
  }
  .setTime_modal{
    &__box{
      width: 80%;
      padding: 20px;
      h2{
        font-size: 22px;
      }
      &__form{
        width: 100%;
        margin: 5% auto;
        font-size: 30px;
      }
    }
  }
  .complete_modal{
    &__box{
      width: 80%;
      padding: 20px;
      h2{
        font-size: 30px;
        line-height: 70px;
      }
      h3{
        font-size: 20px;
        margin: 20px 0 60px;
      }
      .stars{
        img{
          width: 30px;
          height: 35px;
        }
      }
      .crackers{
        img{
          width: 70px;
          height: 80px;
        }
      }
      .again_btn{
        width: 70%;
        height: 40px;
        margin: 0 auto;
        padding: 10px;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  //問題フォーム
  .question_form{
    .q_field{
      .yn_box{
        width: 200px;
        .yn_btn{
          width: 80px;
          line-height: 80px;
          font-size: 40px;
        }
      }
    }
  }


  //マイページ
  .mypage_container{
    .mypage_bar{
      width: 150px;
      opacity: 0.9;
      font-size: 15px;
      left: -150px;
      &__menu{
        height: 40px;
        line-height: 40px;
      }
    }
    .mypage_slide{
      display: block;
      .fa-chevron-left{
        display: none;
      }
    }
    .mypage_content{
      margin: 0;
      width: 100%;
      &__header{
        height: 110px;
        h1{
          font-size: 20px;
          margin-bottom: 20px;
        }
        .score{
          width:40%;
          p{
            font-size: 10px;
            height: 10px;
          }
          h2{
            font-size: 20px;
            display: inline-block;
          }
        }
        .books{
          width:80px;
          right: 10px;
        }
      }
      &__bottom{
        &__tabs{
          height: 40px;
          .mypage_tab{
            font-size: 13px;
            line-height: 40px;
          }
        }
        .dropdown{
          margin-bottom: 5px;
          margin-right: 5px;
          button{
            float: right;
            color: $gray;
            font-size: 15px;
          }
          &:after{
            content: "";
            display: block;
            clear: both;
          }
        }
        &__boxes{
          .mypage__box{
            width: 90%;
            .mypage_question{
              font-size: 13px;
              line-height: 30px;
              &__num{
                width: 10%;
              }
              &__q{
                width: 60%;
                font-size: 12px;
              }
              &__accuracy{
                width: 15%;
              }
              &__sum{
                width: 15%;
              }
            }
          }
        }
      }
    }
  }
  //問題詳細ページ
  .show_container{
    padding-top: 50px;
    .question_box{
      width: 90%;
      margin: 20px auto;
      &__q{
        padding: 10px;
        min-height: 100px;
        &__header{
          height: 60px;
          p{
            line-height: 60px;
            font-size: 35px;
          }
        }
        &__content{
          font-size: 15px;
          padding: 5px;
        }
      }
      &__a{
        padding: 10px;
        &__menu{
          padding: 0;
          font-size: 15px;
        }
        &__content{
          padding: 5px;
          font-size: 15px;
          padding: 0 35px 30px;
          .edit_question_btn{
            display: block;
            width: 80px;
            height: 20px;
            background: rgb(128, 138, 134);
            border-radius: 0.3em;
            color: white;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            box-shadow: 0px 5px 10px $shadow;
            outline: none;
            &:active{
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
